<div class = "col-md-12 grid-margin stretch-card">
    <div class = "card">
        <div class = "card-body">

            <h4 class="card-title">Carregar Arquivo</h4>

            <div class = "forms-sample">
                <div class="form-group">
                    <input type = "file" for="inputXls" class="file-upload-default">
                    <div class = "input-group col-xs-12">

                        <label for = "inputXls" class = "form-control file-upload-info" >
                            <span style="margin-left: 10px !important; color: #ccc" *ngIf="!pathName">apenas arquivos .csv, .xls, .xlsx</span>
                            <span style="margin-left: 10px !important;" *ngIf="pathName">
                                {{ pathName }}
                            </span>
                        </label>

                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-info" type="button" (click)="onUploadArchive()">
                                <i class="mdi mdi-upload btn-icon-prepend"></i>
                                Upload
                            </button>
                        </span>

                        <input 
                            type="file" 
                            accept=".xls,.xlsx,.csv" 
                            #inputXls 
                            id="inputXls" 
                            name="inputXls" 
                            (change)="showArchiveName($event)" 
                            multiple = "false" 
                            style="display:none !important;"
                        >
                    </div>
                  </div>
            </div>

            <h4>Listagem de Clientes</h4>

            
        </div>
    </div>
</div>
